h1 {
    text-align: center;
}

.clothing-card {
    width: 18rem;
    
}

.add-cart-btn {
    background-color: orange;
}

.checkout-btn {
    margin: 20px;
}


  
.card {
    display: inline-block;
    margin: 10px;
}

.thank-you-note {
    color: rgb(0, 255, 110);
    text-align: center;
    font-size: 70px;   
}